* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Urbanist', sans-serif;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo {
    height: 72px;
}

.navigation {
    display: flex;
    gap: 40px;
}

.navigation-items {
    font-weight: 100;
    color: #FFF3E9;
}

.navigation-items:hover {
    color: #a3a3a3;
}

.main-content {
    border-top: 0.4px solid white;
    margin-bottom: 50px;
}

.main-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner {
    margin-top: 30px;
}

.title {
    font-size: 40px;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
}

.subtitle {
    font-size: 20px;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
}

.button {
    width: 160px;
    height: 60px;
    background: #d9a25b;
    color: white;
    box-shadow: 0px 4px 4px rgba(30, 30, 30, 0.25);
    border-radius: 10px;
    border: 3px solid rgb(207, 149, 99);
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 25px;  
}

.button:hover {
    background:  rgb(255, 195, 99);
    border: 1px solid rgb(255, 195, 99);
    color: #ffffff;
}

.secondary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 30px;
    border-top: 1px solid white;
}

.secondary-title {
    margin-top: 50px;   
    font-size: 40px;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
}

.secondary-paragraph-1 {
    font-size: 20px;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
}

.secondary-paragraph-2 {
    font-size: 20px;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
}

.secondary-paragraph-3 {
    padding-bottom: 50px;
    font-size: 20px;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
}

.footer {
    padding: 50px;
    border-top: 1px solid white;
}

.footer-image {
    height: 48px;
    display: block;
    margin: 0 auto;
}